<div class="container-fluid bg-light">
    <div class="container bg-light">

        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">
                <a routerLink="/add"><i class="icon2 fa-solid fa-circle-plus"></i></a>
                <button class="btn btn-primary2" data-bs-toggle="modal" data-bs-target="#profileModal">
                    <i class="icon-logout fa-solid fa-right-from-bracket"></i>
                </button>
                <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="profileModalLabel">Are you sure?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <button (click)="logout()" class="btn-logout btn-warning">Logout</button>
                                &nbsp;
                                <button class="btn-register btn-success">Profile</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="text-primary mt-4">Users: </h4>
                <div style="overflow-y: auto; height: 100%;">
                    <div class="m-3" *ngFor="let task of taskArr">
                        <div class="p-2 shadow border" id="tasks">
                            <div class="input-group row ps-3">
                                <div class="card col-md-10 border-0" > User:&nbsp;{{task.user}} </div><br>
                                <div class="card col-md-10 border-0"> Email:&nbsp;{{task.email}}</div><br>
                                <div class="card col-md-10 border-0"> Password:&nbsp;{{task.pass}}</div>
                                <div class="card col-md-10 border-0"> {{task.role}}</div>
                                <button class="btn btn-outline-primary col me-2" data-bs-toggle="modal" type="button"
                                    data-bs-target="#exampleModal" (click)="call(task)">
                                    <i class="fa-solid fa-user-pen"></i></button>
                                <div class="btn btn-outline-danger col" (click)="deleteTask(task)"><i
                                        class="fa-solid fa-person-circle-minus"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                    title="edit user"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="task">User:</label>
                                    <br>
                                    <span class="text-danger p-2">cannot be edited</span>
                                    <input type="text" class="form-control" id="task" placeholder="Enter task"
                                        name="task" [(ngModel)]="editTaskValue" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="text" class="form-control" id="email" placeholder="Enter email"
                                        name="email" [(ngModel)]="editEmailValue">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="text" class="form-control" id="password" placeholder="Enter password"
                                        name="password" [(ngModel)]="editPassValue">
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-success" type="button" data-bs-dismiss="modal"
                                        (click)="editTask()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
</div>