.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    object-fit: cover;
  }
  
  .card-login{
    width: 50%;
  }
  .text-dark {
    width: 48%;
    text-align: center;
}
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }
.create-ac:hover{
    color: blue !important;
}
.button_hide{
  border: none;
}
.h2-login{
  font-size: 40px;
  font-weight: 700;
  color: #fff !important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
